@import 'menumobile';

body{   
    p{
        font-family: 'Lato', sans-serif;
        color: #424242;
        font-weight: 500;
        line-height: 30px;
    }
    button{
        font-family: 'Lato', sans-serif;
        color: #FFFFFF;
        font-weight: 400;
        background-color: #01996D;
        border: none;
        border-radius: 4px;   
        font-size: 17px;
             
    }
    h2{
        font-family: 'Georgia', sans-serif;        
        font-weight: 400;
        color: #424242;
    }
    h3{
        font-family: 'Georgia', sans-serif;
        font-weight: 700;
    }
    h4{
        font-family: 'Lato', sans-serif;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 24px;   
    }
    li{
        font-family: 'Lato';
        font-weight: 400;
    }
    a{
        text-decoration: none;
        &:visited{
        color: #01996D;
        }
    }    
    
    header{ 
        @media screen and (max-width:992px) {
            display: none;
        }  
        nav{
            width: 71.25%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center ;
            h1{
                width: 15%;
                color: #01996D;
                font-family: 'Noto', sans-serif;
                font-weight: 700;
                
            }
            ul{
                list-style: none;
                text-decoration: none;
                width: 35%;
                color: #292929;
                font-family: 'Lato', sans-serif;
                font-weight: 700;
                display: flex;
                justify-content: space-around;
                
            } 
        }
    }
    /* début 1ere photo femme à lunette*/
    
    /* début image hero*/
    #hero{      
        background-image: url(./Image/rect0.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 895px;
        display: flex;
        align-items: center;

        /* fin image hero*/        
        
        /* début texte + titre + bouton de hero*/
        #txt_img1{
            height: 50%;
            width: 71.25%;
            display: flex;
            flex-direction: column;
            margin: auto;
            margin-bottom: 16%;
            justify-content: space-around;
            @media screen and (max-width: 768px) {
                width: 90%;
            }
            @media screen and (min-width: 769px) and (max-width: 992px){
                width: 80%;
            }
            
            h2{                
                font-size: 65px;
                color: #01996D;
                margin-top: 0%;
                margin-bottom: 0%;  
                @media screen and (max-width: 768px) {
                    width: 100%;
                }                             
            } 
            p{
                height: 20%;
                font-weight: 700;
                margin-top: 0%;
                margin-bottom: 0%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                } 
            }  
            button{
                height: 14%;
                width: 30%;
                font-weight: 700;
                font-size: 20px;
                @media screen and (max-width: 768px) { 
                    width: 45%;
                 }
            }
        }
        /* fin texte + titre + bouton de hero*/ 
    }
    /* fin 1ere photo femme à lunette*/
    
    /*début section HowItWoks*/
    #btn_nav_HowItWorks{
        width: 71.25%; 
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;  
        padding-top: 5%;
        padding-bottom: 5%;
        @media screen and (max-width: 768px) {
            width: 90%;
            flex-direction: column;
            text-align: justify;    
        }
        @media screen and (min-width: 769px) and (max-width: 992px){
            width:  90%;
        }

        .txt_gauche{
            width: 50%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }    
            @media screen and (min-width: 769px) and (max-width: 992px){
                text-align: justify;   
            }                        
            h2{
                font-family: 'Lato';
                font-size: 600;
            }
            h3{
                line-height: 157%;            
                color: #01996D;            
                font-size: 50px;
            }
        }
        .txt_droite{           
            width: 34%;
            line-height: 27px;
            @media screen and (max-width: 768px) {
                width: 100%;        
            } 
            @media screen and (min-width: 769px) and (max-width: 992px){
                text-align: justify;
                width: 45%;
            }           
        }
    }
    /*fin section HowItWoks*/
    
    /* début de article 3 card */
    #cards{
        width: 71.25%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10%;
        @media screen and (max-width: 768px){
            display: flex;
            flex-direction: column;
            width: 90%;
        }
        @media screen and (min-width: 769px) and (max-width: 992px){
            width: 95%;
        }

        .card_un, .card_deux, .card_trois{
            width: 29%;
            position: relative;
            @media screen and (max-width: 768px){
                width: 100%;
                margin-bottom: 12%;
            }
            
            img{
                width: 100%;
            }
            p{
                min-height: 31%;
                text-align: justify; 
                @media screen and (min-width: 769px) and (max-width: 992px){
                    min-height: 25%;
                }               
            }
            h3{
                font-size: 30px;
                text-align: center;
                min-height: 20%;
                @media screen and (min-width: 769px) and (max-width: 992px){
                    min-height: 15%;
                } 
            }
            span{
                position: absolute;
                top: -80px;
                z-index: -1;
                font-family: Georgia, sans-serif;
                font-weight: 400;
                font-size: 150px;
                color: #CCEBE2;
            }
        }
        
    }
    /* fin de article 3 card */

    /* début partie fond vert + video et bouton */
    /* début partie fond vert*/
    #hero2{      
        background-color: #245852;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 5%;
    /* fin fond vert*/ 
        
        /*début conteneur img2+ txt2*/
        #cont_hero2{
            width: 71.25%;
            display: flex;
            margin: auto; 
            align-items: center;
            @media screen and (max-widtH: 768px){
                flex-direction: column;
                width: 90%;
            } 
            @media screen and (min-width: 769px) and (max-width: 992px){
                width: 90%;
            }  
            
            /* début bouton et txt de hero 2*/    
            #txt_img2{
                width: 45%;
                display: flex;
                flex-direction: column;
                margin: auto;
                justify-content: space-around; 
                @media screen and (max-widtH: 768px){
                   width: 100%;
                }
                
                h4{
                    font-family: 'Lato';
                    font-weight: 600;
                    margin-bottom: 18%;
                }
                
                h2{                
                    font-size: 50px;
                    font-weight: 700;
                    color: #FFFFFF;
                    line-height: 75px;
                    margin-top: 3%;
                    margin-bottom: 3%;
                } 
                p{
                    font-size: 25px;
                    font-weight: 600;
                    color: #FFFFFF;                 
                }  
                button{
                    height: 66px;
                    width: 40%;
                    font-size: 20px;
                    background-color: #01996D;
                    border: none;
                    border-radius: 4px;
                    margin-top: 45px;
                    margin-bottom: 70px;
                }
            }
            /* fin bouton et txt de hero 2*/
            
            #img2{
                width: 45%;
                @media screen and (max-widtH: 768px){
                    width: 100%;
                }
                img{
                    width: 100%;
                }
            }
            
        }        
        /* fin conteneur img2+ txt2*/            
    }
    /* fin partie fond vert + video et bouton */

    /*début section OurProduct*/
    #btn_nav_OurProduct{
 
        display: none; /* a virer */

        width: 71.25%;
        display: flex;
        margin: auto;
        justify-content: space-between;
        padding: 150px;        
        @media screen and (max-width: 768px){
            flex-direction: column;
            width: 96%;
            padding-left: 5px; 
            padding-right: 5px;
        }    
        @media screen and (min-width:769px) and (max-width: 992px){
            width: 85%;
            padding: 90px;
        }

        .partieGauche{
            height: 500px;
            background-image: url(./Image/femmeverte.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            width: 45%;
            position: relative;
            @media screen and (max-width: 768px){
                width: 90%;
            }
            @media screen and (min-width:769px) and (max-width: 992px){
                width: 48%;
            }
            .miniCV{
                position: absolute;
                bottom: -80px;
                left: -70px;
                text-align: center;
                background-color: #FFFFFF;
                box-shadow: -5px 5px 5px #f8f8f8;
                width: 50%;
                @media screen and (max-width: 768px){
                    left:0px;
                }

                hr{
                    width: 40%;
                }
               
                h4{
                    color: #000000;
                    font-size: 14.49px;  
                }

               
                    .miniImg{
                        background-image: url(./Image/minipick.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        margin: auto;
                        border-radius: 50px;
                        height: 60px;
                        width: 60px; 
                        figure{
                            font-family: 'Lato';
                            font-weight: 400;
                        }
                    }
    
                  
                  
                h3{
                    margin-top: 0px;
                    margin-bottom: 0px;
                }                
                ul{
                    text-align: left;
                    line-height: 50px;
                }
            }    
        }

        .partieDroite{
            width: 45%;
            @media screen and (max-width: 768px){
                width: 98%;
                text-align: justify;
            }
            @media screen and (min-width:769px) and (max-width: 992px){
                width: 48%;
                text-align: justify;
            }
            
            h4{
                color: #424242;
            }
            h2{
                color: #01996D;
                font-size: 50px;
                font-weight: 700;
            }
            p{
                font-weight: 400;
                font-size: 20px;
                color: #484848;
                width: 90%;
            }
            button{
                height: 50px;
                width: 180px;
               
            }
        }
        


    

        
    }
    /*fin section OurProduct*/

    footer{
        background-color: #245852;
        padding-top: 50px;
        padding-bottom: 50px;
    

        #liste{
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 71.25%;

        
            h2{
                color: #FFFFFF;
                font-family: 'Noto', sans-serif;
                font-weight: 700;
            }
            ul{
                list-style: none;
                text-decoration: none;
                padding: 0px;
                line-height: 60px;
                color: #FFFFFF;
            
                li{
                font-weight: 600;
                }
            }
        }
    }

}